/* 카테고리 뉴스 컨테이너 */
.categorynews-container {
  max-width: 1140px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin-top: 32px;
}

/* 카테고리 뉴스 리스트 */
.categorynews-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 카테고리 뉴스 아이템 */
.cate-news-item.horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  cursor: pointer;

  overflow: hidden;
  box-sizing: border-box;
}

.cate-news-item.horizontal:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cate-news-item.horizontal:hover .cate-news-title {
  text-decoration: underline;
}

/* 이미지 섹션 (좌측) */
.cate-news-thumbnail.horizontal {
  width: 22%;
  aspect-ratio: 5 / 3;
  object-fit: cover;
  margin-right: 12px;
  padding: 10px;
}

/* 텍스트 컨테이너 */
.cate-news-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 뉴스 제목 */
.cate-news-title {
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin-top: 6px;
  margin-bottom: 0px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  line-clamp: 1;
  word-break: break-word;

  line-height: 1.4;
  min-height: calc(1.4em * 1);
}

/* 뉴스 요약 */
.cate-news-summary {
  font-size: 15px;
  color: #555;
  line-height: 1.4;
  margin-top: 8px;
  margin-left: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-word;

  line-clamp: 4;
}

/* 언론사 및 날짜 */
.cate-news-meta {
  position: absolute;
  bottom: 6px;
  font-size: 12px;
  color: #999;
}