.traffic {
  background-color: #ffffff;
  border-radius: 16px;
  font-size: 16px;
  color: #333;
  height: 349px;
  box-sizing: border-box;
}

.traffic h2 {
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 12px;
  padding-left: 10px;
  border-left: 4px solid #2c7be5;
  color: #333;
}

.traffic-text {
  font-size: 12px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-right: 5px;
  text-align: right;
}